/* kropper.css: this file contains the css that defines the size and appearance of all elements of the Kropper image-cropping UI. */

/* This is the container element for the cropper UI */

body {
	margin: 0;
	overflow: hidden;
	background-color: black;
}

#cropper {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

/* this element is the user's cropping workspace, so to speak */

#cropper-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* this element, automatically hidden when everything has loaded, covers up the cropping canvas and displays the message that javascript is required */

#cropper-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #000;
	text-align: center;
	font-size: 18px;
	color: #666;
	border-spacing: 0;
	margin: 0;
	border: 0;
}

#cropper-loader td {
	padding: 0;
	text-align: center;
	vertical-align: center;
}

#cropper-panel {
	background: url(assets/footer_bg.png);
	margin: 0px auto;
	width: 400px;
}

#cropper-footer {
	position: absolute;
	background: #979797 url(assets/subfooter_bg_grey.png);
	bottom: 0;
	width: 100%;
	z-index: 2;
}

#cropper-slider {
	height: 16px;
	position: relative;
	top: 11px;
	left: 96px;
}

#cropper-slider-handle {
	width: 16px;
	height: 16px;
	position: absolute;
	background: url(assets/slider.png) no-repeat;
}

#cropper-buttons {
	padding: 20px 0px 15px 0;
}

#cropper-ok {
	float: right;
}

/* The stuff below is an IE6 PNG transparency fix. See http://bjorkoy.com/past/2007/4/8/the_easiest_way_to_png/ for information. */
img { behavior: url(iepngfix.htc); }