body {
	margin: 0;
	overflow: hidden;
	background-color: black;
}

#cropper {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

#cropper-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#cropper-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #000;
	text-align: center;
	font-size: 18px;
	color: #666;
	border-spacing: 0;
	margin: 0;
	border: 0;
}

#cropper-loader td {
	padding: 0;
	text-align: center;
	vertical-align: center;
}

#cropper-panel {
	background: url(assets/cropper-panel.png);
	margin: 0px auto;
	width: 276px;
}

#cropper-footer {
	position: absolute;
	background: #979797 url(assets/cropper-footer.png);
	bottom: 0;
	width: 100%;
	z-index: 2;
}

#cropper-slider {
	height: 16px;
	position: relative;
	top: 11px;
	left: 26px;
}

#cropper-slider-handle {
	width: 16px;
	height: 16px;
	position: absolute;
	background: url(assets/cropper-slider.png) no-repeat;
}

#cropper-buttons {
	padding: 20px 0px 15px 0;
}

#cropper-ok {
	float: right;
}
