/* kropper.css: this file contains the css that defines the size and appearance of all elements of the Kropper image-cropping UI. */

/* This is the container element for the cropper UI */

body {
	margin: 0;
	overflow: hidden;
	background-color: black;
}

#imageCropper {
	width: 100%;
	display: none;
}

/* this element is the user's cropping workspace, so to speak */

#cropCanvas {
	overflow: hidden;
	position: relative;
}

/* this element, automatically hidden when everything has loaded, covers up the cropping canvas and displays the message that javascript is required */

#cropLoadingOverlay {
	width: 100%;
	height: 100%;
	position: absolute; 
	z-index: 51;
	top: 0px;
	left: 0px;
	background-color: #000;
	text-align: center;
}

#cropLoadingOverlay h2 {
	font: normal 18px/31px Helvetica, Arial;
	color: #333;
	padding: 140px 30px 10px;
}

#cropFooter {
	background: url(assets/footer_bg.png);
	margin:0px auto;
	width:400px;
}

#cropBg {
	background: #979797 url(assets/subfooter_bg_grey.png);
}

#zoomSlider {
	width: 208px;
	height: 16px;
	position: relative;
	top: 11px;
	left: 96px;
}

#zoomSliderHandle {
	width: 16px;
	height: 16px;
	position: absolute;
	background: url(assets/slider.png) no-repeat;
}

#cropButtons {

	width:400px;
	padding: 30px 0px 15px;
}

#cropReset, #cropCancel {
	left:0px;
}

#cropSubmit {
	float: right;
}

/* The stuff below is an IE6 PNG transparency fix. See http://bjorkoy.com/past/2007/4/8/the_easiest_way_to_png/ for information. */
img { behavior: url(iepngfix.htc); }