/* Use an id #edit for form here instead of a class, so css can be overridden in inline editors, even when other styles are forced through ids */

#edit {
	margin: 0px;
}

#edit a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

/* default */

#edit td, #edit input, #edit select, #edit textarea, #edit a.edit-button, #edit .tab-pane .edit-title {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
}

#edit td, #edit .tab-pane .edit-title {
	font-size: 11px;
	line-height: 17px;
}

#edit table {
	border-spacing: 0;
	margin: 0;
	border: 0;
}

#edit td {
	padding: 0;
	white-space: nowrap;
	vertical-align: top;
}

/* checkbox */

#edit label {
    display: block;
    float: left;
    white-space: nowrap;
}

#edit input[type=checkbox] {
    vertical-align: middle;
}

#edit label span {
    padding-left: 4px;
    vertical-align: middle;
}

/* a.edit-button needs #edit to force overriding of global a settings linked to certain layout ids. */
#edit a.edit-button, #edit td a.edit-button {
	white-space: nowrap;
	border: 1px solid;
	border-color: #fff #666 #666 #fff;
	text-align: center;
	background: #ddd;
	padding: 1px 6px 1px 6px;
	text-decoration: none;
	color: #333;
}

#edit a.edit-button:link {
	text-decoration: none;
	color: #333;
}

#edit a.edit-button:hover {
	text-decoration: none;
	color: #333;
	background: #eee;
}

#edit .edit-buttons-left, #edit .edit-buttons-right {
	padding-top: 2px;
}

/* do not filter through #edit since buttons are also used in choosers */
.edit-buttons-left .edit-button {
	margin-left: 0;
	margin-right: 2px;
}

.edit-buttons-right .edit-button {
	margin-left: 2px;
	margin-right: 0;
}

.edit-buttons-right {
	text-align: right;
}

/* only change padding within the main edit form, not in the choosers -> use #edit */

#edit .edit-footer .edit-buttons-left {
	padding: 2px 0px 8px 8px;
}

#edit .edit-footer .edit-buttons-right {
	padding: 2px 8px 8px 0px;
}

/* chooser */

.edit-chooser {
	position: absolute;
	background: #fff;
	border: 1px solid black;
	z-index: 1000;
}

/* Not nested in #edit, as it is used for color choosers and such */ 
.edit-chooser .edit-element, .edit-chooser .edit-element select, .edit-chooser .edit-element input {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 9px;
	line-height: 10px;
	margin: 1px;
}

.edit-chooser .edit-element input[type=text] {
	height: 10px;
}

.edit-object-chooser {
	font-size: 10px;
	line-height: 14px;
	max-width: 200px;
	max-height: 200px;
	overflow: auto;
}

.edit-object-chooser li {
	list-style: none;
	padding: 0;
	margin-left: -14px;
	list-style-image: none;
	white-space: nowrap;
}

.edit-object-chooser ul {
	padding: 0;
	margin: 0 0 0 14px;
}

.edit-object-chooser a {
	color: #000;
	padding: 0;
	margin: 0;
}

.edit-object-chooser a:hover {
	background: #f7f7f7;
}

/* preview */

.edit-preview {
	position: fixed;
	background: #f00;
	border: 1px solid #000;
	left: 32px;
	top: 32px;
}

.edit-preview a {
	display: block;
	padding: 4px 8px 4px 8px;
	color: #fff;
}

.edit-preview a:hover {
	background: #fff;
	color: #f00;
}

/* elements */

#edit .edit-progress {
	float: right;
	padding: 8px;
}

/* TODO: remove edit-spacer and handle like item spacer */
#edit .edit-spacer {
	height: 0px;
}

#edit .edit-ruler {
	margin: 6px -8px 2px -8px;
	border-bottom: 1px dotted #999;
}

#edit .edit-scale .edit-element {
	width: 100%;
}

#edit .edit-color {
	border: 1px solid;
	border-color: #999 #fff #fff #999;
}

#edit .edit-label {
	font-weight: bold;
	display: inline;
}

#edit .edit-nounderline a {
	border: none;
	padding: 0px;
}

/* edit lists */

#edit .edit-list-separator {
	height: 10px;
}

#edit .edit-list-entry td {
	vertical-align: middle;
}

#edit .edit-list-header {
	text-align: right;
	height: 14px;
}

#edit .edit-list-handle {
	margin-right: 4px;
}

#edit .edit-list-content {
	margin-top: -16px;
}

#edit .edit-list-remove img {
	width: 12px;
	height: 13px;
	background: url(/static/edit/media/remove.png);
}

#edit .edit-list-remove img:hover {
	background: url(/static/edit/media/remove-over.png);
}

/* error */

#edit .edit-error {
	font-weight: normal;
	color: #ff3300;
	display: inline;
}

/* help */

#edit .edit-help div {
	border: 1px dotted #999;
	background: #fff;
	padding: 4px;
	margin-bottom: 4px;
}

#edit .edit-help div, #edit .edit-help td {
	font-size: 9px;
	line-height: 13px;
	white-space: normal;
}

/* tab pane */

#edit .tab-pane {
	position: relative;
}

#edit .tab-pane .row {
	z-index: 1;
	white-space: nowrap;
}

#edit .tab-pane .tab a {
	margin: 1px -9px 0px 8px;
	padding: 1px 7px 3px 7px;
	color: #000;
	background: #f7f7f7;
	border: 1px dotted #999;
	border-top: 0;
	z-index: 1;
	top: -1px;
	position: relative;
	text-decoration: none;
}

#edit .tab-pane .tab.selected a {
	background: #fff;
	margin: 0px -9px 0px 8px;
	padding: 2px 7px 3px 7px;
	z-index: 3;
}

#edit .tab-pane .hover a {
	background: #ddd;
}

#edit .tab-pane .edit-title {
	border-bottom: 1px dotted #999;
	padding: 8px;
	/* for layering over the edit-upload progress bar */
	position: relative;
	z-index: 2;
}

#edit .tab-pane .edit-content {
	margin: 6px 8px 6px 8px;
}

#edit .edit-upload {
	position: absolute;
	background: #ff0;
	z-index: 1;
	width: 0;
	height: 34px;
}

/* icons */

#edit .icon a {
	border-bottom: 0px;
}

#edit .icon-small img {
	vertical-align: middle;
}

#edit .icon-small a {
	padding: 0px 2px 3px 0;
	border-bottom: 0px;
}
