body {
	font-family: Courier New, Courier, monospaced;
	font-size: 10x;
	line-height: 15px;
	font-weight: bold;
	color: #000000;
}

table {
	padding: 0;
	border-spacing: 0;
	margin: 0;
}

td {
	padding-right: 7px;
	padding-bottom: 7px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	color: #0000ff;
	text-decoration: underline;
}

ul {
	display: none;
	padding: 0;
	margin: 0 0 0 28px;
	list-style-type: none;
	white-space: nowrap;
}

