.apple-search {
	background: url('/static/base/media/search_bg.png') repeat-x top left;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	float: left;
	border: 0;
	height: 13px; /* 19 - 2 * 3 */
	padding: 3px;
	color: #000;
}

.apple-search-left {
	background: url('/static/base/media/search_left.png') no-repeat top left;
	float: left;
	width: 19px;
	height: 19px;
}

.apple-search-right {
	background: url('/static/base/media/search_right.png') no-repeat top left;
	float: left;
	width: 19px;
	height: 19px;
}

.apple-search-clear {
	background: url('/static/base/media/search_clear.png') no-repeat top left;
}

.apple-search-placeholder {
	color: #888;
}

input[type=search] {
	font-size: 11px;
}
